In [3]:
mystring = "ammulu"
mylist = []
for i in mystring:
    mylist.append(i)
mylist

['a', 'm', 'm', 'u', 'l', 'u']

In [5]:
mylist = [i for i in "ammulu"]
mylist

['a', 'm', 'm', 'u', 'l', 'u']

In [7]:
mylist = [i for i in range(0,20)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
mylist = [i**2 for i in range(0,20)]
mylist

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [13]:
mylist = [i for i in range(0,10) if i % 2 == 0]
mylist

[0, 2, 4, 6, 8]

In [15]:
mylist = [i if i % 2 == 0 else 'ODD' for i in range(0,10)]
mylist

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [17]:
mylist = [x*y for x in [2,4,6] for y in [3,5,7]]
mylist

[6, 10, 14, 12, 20, 28, 18, 30, 42]