                                                LOOPS

                    FOR LOOP

In [1]:
mylist = [1,2,3,4,5,6,7]
for i in mylist:
    print(i)

1
2
3
4
5
6
7

In [8]:
for i in mylist:
    if i % 2 == 0:
        print("EVEN")
    else:
        print(f'Odd Num: {i}')

Odd Num: 1
EVEN
Odd Num: 3
EVEN
Odd Num: 5
EVEN
Odd Num: 7

In [10]:
count = 0
for i in mylist:
    count = count + i
    print(count)

1
3
6
10
15
21
28

In [12]:
count = 0
for i in mylist:
    count = count + i
print(count)

28

            USING FOR LOOP IN TUPLE

In [14]:
x = (1,2,4)
for i in x:
    print(i)

1
2
4

In [23]:
ans = [(1,2), (3,4)]
for i in ans:
    print(i)

(1, 2)
(3, 4)

In [25]:
for a,b in ans:
    print(a)

1
3

In [27]:
for (a,b) in ans:
    print(a)
    print(b)

1
2
3
4

                            USING LOOPS IN DICTIONARIES

In [29]:
d = {'k1':1, 'k2':3, 'k3':4}
for i in d:
    print(i)

k1
k2
k3

In [33]:
for key, value in d:
    print(i)

k3
k3
k3

In [41]:
for key, value in d:
    print(value)

1
2
3

                        WHILE LOOP

In [47]:
number = 4
while number < 8:
    print(number)
    number = number+1
else:
    print("YEAHH")

4
5
6
7
YEAHH

In [ ]:
num = 5
while num < 10:
    if num % 2 == 0:
        break
        num = num + 1
    else:
        print("no")

In [ ]:
string = 'sammy'

In [ ]:
for letter in string:
    if letter == 'a':
        continue
print(letter)

In [ ]:
mystring = 'Sammys'

In [ ]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)